<!-- Footer 1 -->
<footer class="template-footer1">

	<div class="container">
		<h1>{{widget('content', 'footer1content', {content: 'This is a content widget.', lines: 'all'})|raw}}</h1>
		<span>{{widget('content', 'pagedescription', {content: 'This is a content widget.', lines: 'all'})|raw}}</span>
        {{widget('socialicons', 'socialnetworks', {})|raw}}
	</div>

</footer>
<!-- End Footer 1 -->

<!-- Footer 2-->
<footer class="template-footer2 clearfix">
	<div class="left">
		<h4>{{widget('content', 'footer2content', {content: 'This is a content widget.', lines: 'all'})|raw}}</h4>
	</div>
	<div class="right">
       	{{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
       </div>
</footer>
<!-- End Footer 2-->